# Shopify store subdomain — e.g. vasansi.myshopify.com
VITE_SHOPIFY_STORE=vasansi-jaipur.myshopify.com

# Storefront API token — Shopify Admin > Settings > Apps > Develop apps
VITE_STOREFRONT_TOKEN=0bce8523a4e580f0aaeea517ab8a23d6
